body,
html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Helvetica Neue", serif;
    line-height: 1.5em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    background-color: black;
    height: 70px;
}

header img {
    border-radius: 30px;
    position: fixed;
    top: 5px;
    left: 2%;
}

header h1 {
    color: white;
    text-align: center;
    width: 300px;
    line-height: 70px;
    margin: 0 auto;
}

header ul {
    position: fixed;
    right: 4%;
    top: 20px;
}

header li {
    display: inline;
}

header a {
    text-decoration: none;
    color: white;
}

main {
    padding-top: 70px;
}

main #description {
    padding: 50px 200px;
    background-color: lightgray;
}

main #description img {
    float: left;
    margin-right: 50px;
    margin-bottom: 20px;
    height: 550px;
}

main #description .description-p2 {
    clear: both;
}

main #relationship {
    padding: 50px 200px;
}

main #relationship img {
    float: right;
    margin-left: 50px;
    margin-bottom: 20px;
    height: 400px;
}

footer {
    background-color: gray;
    text-align: center;
    height: 50px;
    padding: 20px;
    line-height: 50px;
    font-weight: 700;
}
